{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h1 class="text-center">APIE MUS</h1>
                <p class="text-center">
                    ROADCHECK prasidėjo nuo idėjos sukurti programinę įrangą, kuri galėtų prisidėti prie nuolatinės kelių būklės priežiūros.
                    Tam, įvykdyti šį tikslą, buvo pasitelkta dirbtinio intelekto techonologios kartu su aukštos kokybės kameromis, kurių
                    dėka kokybės aptikimas yra greitas, patikimas ir automatiškas.
                </p>

                <p class="text-center">
                    Programinės įrangos tikslas - automatiniu būdu atpažinti duobes kelyje, užfiksuoti tikslias koordinates ir
                    turimus duomenis persiųsti atitinkamoms institucijoms.
                </p>
            </div>

            <hr>

            <div class="row" style="background: black;color: white;padding: 30px;">
                <div class="col-sm-6 flex-row">
                    <a href="/map"><img src="assets/img1.png" class="card-img" alt="..."></a>

                </div>

                <div class="col-sm-3 flex-row" style="margin-top: 150px;">
                    <h5 class="card-title">Jūs taip pat galite prisidėti prie geresnės kelio kokybės!</h5>
                    <p class="card-text">Pateikite informaciją apie pastebetą duobę paprasčiausiai pažymėdami ją žemėlapyje.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block navigation %}
    {{ parent() }}
{% endblock %}

