{% extends 'base.html.twig' %}

{% block title %}
    „ROADCHECK“ | Administravimas
{% endblock %}

{% block body %}
<br>
<div class="main-panel">
    <div class="container">
        <div class="p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Administratoriaus sąsajos prisijungimas</h1>
        </div>
        <div class="row sm-3 align-items-center">

            {% if errors|default(null) %}
                <div class="alert alert-danger" role="alert">
                    {% for err in errors %}
                        {{ err }} <br>
                    {% endfor %}
                </div>
            {% endif %}

            <section class="vh-100">
                <div class="container-fluid h-custom">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-md-9 col-lg-6 col-xl-5">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
                                 alt="Administratoriaus sąsaja">
                        </div>
                        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                            <form method="post" action="/admin/login">
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input type="email" id="email" name="email" class="form-control form-control-lg"
                                           placeholder="Įveskite administratoriaus el. paštą" />
                                    <label class="form-label" for="email">El. paštas</label>
                                </div>

{#                                <div class="form-outline mb-4">#}
{#                                    <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Įveskite administratoriaus vartotojo vardą" />#}
{#                                    <label class="form-label" for="username">Vartotojas</label>#}
{#                                </div>#}

                                <!-- Password input -->
                                <div class="form-outline mb-3">
                                    <input type="password" id="password" name="password" class="form-control form-control-lg"
                                           placeholder="Įveskite administratoriaus slaptažodį." />
                                    <label class="form-label" for="password">Slaptažodis</label>
                                </div>

                                <div class="text-center text-lg-start mt-4 pt-2">
                                    <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Prisijungti</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block navigation %}
    {{ parent() }}
{% endblock %}

