{% extends 'base.html.twig' %}

{% block body %}
<div class="main-panel">
    <div class="container">
        <div class="row sm-3 align-items-center">

        </div>
    </div>
</div>
{% endblock %}


{% block navigation %}
    {{ parent() }}
{% endblock %}

