{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="main-panel">
        <div class="container card">
            <div class="row align-items-center card-body" style="margin: 20px;">

                {% if messages|default(null) %}
                    <div class="alert alert-success" role="alert">
                        {% for msg in messages %}
                            {{ msg }} <br>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if errors|default(null) %}
                    <div class="alert alert-danger" role="alert">
                        {% for err in errors %}
                            {{ err }} <br>
                        {% endfor %}
                    </div>
                {% endif %}

                <form method="post" action="/report/submit" enctype="multipart/form-data">
                    <div class="form-control-sm">
                        <label for="email" style="font-weight: bold">Jūsų el. paštas</label>
                        <p>El. paštas bus naudojamas susisiekti pranešti dėl sutvarkytos problemos.</p>
                        <input type="text" class="form-control" name="email" id="email">
                    </div>
                    <div class="form-control-sm">
                        <label for="image" style="font-weight: bold">Nuotrauka</label>
                        <p>Prašome įkelti rastos duobės nuotrauką, kad įsitikinti dėl pranešimo autentifiškumo.</p>
                        <input type="file" class="form-control" name="image_file" id="image">
                    </div>

                    <div class="form-control-sm">
                        <button type="submit" class="btn btn-sm btn-success">Pranešti</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block navigation %}
    {{ parent() }}
{% endblock %}

