{% extends 'base.html.twig' %}

{% block body %}
    <div class="main-panel">
        <div class="container">
            <div class="row sm-3 align-items-center">

                {% if messages|default(null) %}
                    <div class="alert alert-success" role="alert">
                        {% for msg in messages %}
                            {{ msg }} <br>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if errors|default(null) %}
                    <div class="alert alert-danger" role="alert">
                        {% for err in errors %}
                            {{ err }} <br>
                        {% endfor %}
                    </div>
                {% endif %}

                <form method="post" action="/report/submit">
                    <div class="form-control-sm">
                        <label for="name">Vardas</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                    <div class="form-control-sm">
                        <label for="phone">Telefono nr.</label>
                        <input type="text" class="form-control" name="phone" id="phone">
                    </div>
                    <div class="form-control-sm">
                        <label for="email">El. paštas</label>
                        <input type="text" class="form-control" name="email" id="email">
                    </div>
                    <div class="form-control-sm">
                        <label for="address">Vietos adresas</label>
                        <input type="text" class="form-control" name="address" id="address">
                    </div>
                    <button type="submit" class="btn btn-success">Pranešti</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block navigation %}
    {{ parent() }}
{% endblock %}

